@import "tailwindcss";

:root {
    --global-padding: 2rem;
    --ice-blue: #c0f7ff;
    --uah-blue: #0058A4;
    --white: #ffffff;
    --container-full-desktop-width: 90rem;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    background-color: var(--ice-blue);
    font-size: 1rem;
    line-height: 1.25rem;
}

.page-wrapper {
    overflow: hidden;
    
}

.main-wrapper {    
    min-height: 100vh;
    max-width: var(--container-full-desktop-width);
    margin-left: auto;
    margin-right: auto;
    margin-top: 6rem;
}

.padding-global {
    padding-left: var(--global-padding);
    padding-right: var(--global-padding);
}

.padding-container {
    padding: var(--global-padding);
}

.container-full {
    width: -webkit-fill-available;
    padding: var(--global-padding);
    max-width: var(--container-full-desktop-width);
    margin-left: auto;
    margin-right: auto
}

table {
    border: 1px solid black;
    /* width: 100%; */
}

table tr td {
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
}

td,
th {
    padding: 5px;
    border: 1px solid black;
    text-align: center;
}

td:nth-child(2) {
    width: 70% !important;
}

/* #page-no-dropdown {
    width: fit-content;
    border: 1px solid black;
    padding: 2px;
} */

select:focus-visible {
    outline: none;
    border: none;
}

button {
    border: 1px solid black;
    padding: 2px;
}
button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
    color: #666666;
}

.trow {
    display: table-row;
}

.tcell {
    display: table-cell;
    padding: 0.5rem;
}

.theader {
    font-weight: 600;
}

.text-left {
    text-align: left;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    /* color: white; */
    z-index: 999;
}

.navbar_link {
    color: var(--white);
    text-decoration: none;
}

.navbar_link:hover {
    text-decoration: underline;
}

.navbar_container {
    display: flex;
    max-width: var(--container-full-desktop-width);
    margin: 0 auto;
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.navbar_links {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    align-items: center;
    justify-content: flex-end;
}

.title-text {
    font-size: 1.5rem;
}

.bg-color-uah-blue {
    background-color: var(--uah-blue);
}

.bg-color-ice-blue {
    background-color: var(--ice-blue);
}

.bg-color-white {
    background-color: var(--white);
}

.text-white {
    color: var(--white);
}

.round-corners {
    border-radius: 1rem;
}